@import './base.css';

body {
  background-image: url("./images/background/body-background.svg");
}

main {
  display: flex;
  width: 1279px;
  height: 775px;
  padding: 82px 176px;
  justify-content: center;
  align-items: center;
}

aside {
  display: flex;
  width: 640px;
  height: 899px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}