.header-background-svg{
    position:sticky;
    display: flex;
    width: 1920px;
    height: 100px;
    padding: 0px 61px 0px 1623px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 41px;
    flex-shrink: 0;
}

header{
    width: 1920px;
    height: 100px;
    flex-shrink: 0;
}